@model Bloggie.Web.Models.Domain.blogPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>blogPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Heading" class="control-label"></label>
                <input asp-for="Heading" class="form-control" />
                <span asp-validation-for="Heading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageTitle" class="control-label"></label>
                <input asp-for="PageTitle" class="form-control" />
                <span asp-validation-for="PageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeaturedImageUrl" class="control-label"></label>
                <input asp-for="FeaturedImageUrl" class="form-control" />
                <span asp-validation-for="FeaturedImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlHandle" class="control-label"></label>
                <input asp-for="UrlHandle" class="form-control" />
                <span asp-validation-for="UrlHandle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PudlishedDate" class="control-label"></label>
                <input asp-for="PudlishedDate" class="form-control" />
                <span asp-validation-for="PudlishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="visible" class="control-label"></label>
                <input asp-for="visible" class="form-control" />
                <span asp-validation-for="visible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
